@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }
    .nav {
        display: block;
    }
    .nav ul {
        display: flex;
        justify-content: center;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
    .content {
        padding: 40px;
        flex-wrap: nowrap;
    }
    .temple-card {
        flex: 0 1 calc(25% - 2rem);
    }
}
