body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #14324e;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

#menu-toggle {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: block;
    z-index: 1;
}

.nav {
    display: none;
}

.nav.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    margin: 0 10px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
}

.content {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.temple-card {
    border: 1px solid #ccc;
    background-color: #7d868e;
    padding: 2rem;
    margin: 1rem;
    width: 300px;
    text-align: center;
    flex: 0 1 calc(33.333% - 2rem);
}

.temple-card img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ffeaea;
    border-radius: 1rem;
}

.footer {
    background-color: #14324e;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

.footer-content {
    animation: rainbow 5s infinite;
}
